/* reset styles */
/*html, body {
  border: 0;
  padding: 0;
  margin: 0;
}*/

body {
  background-image: url("../CIS-131-Exam-1-master/images/large.jpg");
}

.heading {
  font-family: 'Permanent Marker', cursive !important;
}

.lead {
  font-family: 'Oswald', sans-serif;
}

.btn-danger {
  width: 50%;
}

.jumbotron{
  margin-top: 2%;
  background-color: #D9534F !important;
  border-style: solid;
  border-color: #D43F3A;
}

#customerOrder{
  display: none;
  background-color: #D9534F !important;
  border-style: solid;
  border-radius: 5px;
  border-color: #D43F3A;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 50%;
}

span {
  text-align: center;
}

@media (min-width: 576px) {
  .form-control {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .form-control {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
